.copyright {
  min-height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;

  margin-right: 20px;

  @media (max-width: @mobile-width-only) {
    padding-top: 5px;
  }
}

.copyright__icon {
  width: 40px;
  height: auto;

  padding-top: 6px;

  fill: @base-color;

  &:hover,
  &:focus {
    fill: @base-color-dark;
  }

  &:active {
    opacity: 0.3;
  }
}
