.goods-card {
  border: 1px solid #ececec;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.goods-card__description {
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 23px;

  @media (min-width: @tablet-width) {
    padding-left: 34px;
    padding-right: 32px;
    padding-top: 0;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    padding-left: 25px;
    min-height: 191px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.goods-card__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 27px;
    padding-right: 30px; /* Для переноса "Большая корзинка для игрушек" */
  }

  @media (min-width: @desktop-width) {
    padding-top: 27px;
    padding-right: 20px;
  }

  .link-interactivity();
}

.goods-card__parameters {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  margin: 0;
  padding-top: 6px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 8px;
    padding-bottom: 12px;
  }
}

.goods-card__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;

  border-top: 1px solid @basic-gray;

  @media (min-width: @tablet-width) {
    font-size: 17px;

    margin: 0;
    margin-top: auto;
    padding: 25px 0;
  }
}

.goods-card__img {
  // Размеры пока для наглядности
  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.goods-card__to-cart {
  position: absolute;
  right: 0;
  opacity: 0.2;

  .icons-interactivity(@base-color);
}
