.order-form__wrapper {
  padding: 0 30px;
  margin: 0 auto;
  min-width: 320px;
  width: 320px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.order-form__fieldset--accent {
  @media (min-width: @tablet-width) {
    background-color: @basic-light-gray;
  }
}

.order-form__intro {
  padding: 0 30px;
  margin-bottom: 30px;

  font-weight: 300;
  color: @basic-dark;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 225px;
  }
}

.order-form__fieldset {
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;

    padding-top: 50px;
    padding-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 5fr;

    padding-bottom: 24px;
  }
}

.order-form__fields {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    padding-right: 175px;
  }
}

.order-form__fields--column-direction {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 23px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 28% 28% 28%;
    column-gap: 2%;

    padding-right: 0;
  }
}

.order-form__legend {
  position: relative;
  overflow: hidden;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: @base-color;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 62px;
  }
}

@media (max-width: @mobile-width-only) {
  .order-form__legend::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: calc(50% - 1px);
    margin-left: 20px;

    background-color: @base-color;
  }
}

.order-form__product-type .order-form__legend {
  margin-bottom: 30px;
}

.order-form__customer-name .order-form__legend {
  margin-bottom: 17px;
}

.order-form__product-color {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 33px;
  }
}

.order-form__input {
  width: 100%;
  background-color: transparent;
}

.order-form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;

    flex-wrap: nowrap;
    min-height: 50px;
  }
}

.order-form__label--checkbox {
  position: relative;
  padding-left: 60px;

  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    padding-left: 82px;
    margin-bottom: 26px;
  }
}

.order-form__label--checkbox:last-child {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 0;
  }
}

.order-form__label--checkbox::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  top: calc(50% - 19px);
  left: 0;
  border: 2px solid @basic-black;

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 52px;
    top: calc(50% - 25px);
  }
}

.order-form__input:checked + .order-form__label--checkbox::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  top: calc(50% - 7px);
  left: 8px;
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-size: cover;

  @media (min-width: @tablet-width) {
    width: 32px;
    height: 22px;
    top: calc(50% - 10px);
    left: 9px;
  }
}

.order-form__label--radio {
  position: relative;
  padding-left: 60px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
    margin-bottom: 26px;
  }
}

.order-form__label--radio::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: 0;
  border: 2px solid @basic-black;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
  }
}

.order-form__input:checked + .order-form__label--radio::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  left: 13px;
  background-color: @base-color;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: 15px;
  }
}

.order-form__label--radio:hover::before,
.order-form__label--radio:focus::before {
  border-color: @base-color;
}

.order-form__label--radio:active::before {
  border-color: fade(@basic-black, 30%);
}

.order-form__label--checkbox:hover::before,
.order-form__label--checkbox:focus::before {
  border-color: @base-color;
}

.order-form__label--checkbox:active::before {
  border-color: fade(@basic-black, 30%);
}

.order-form__input:disabled + .order-form__label {
  opacity: 0.1;
  cursor: default;
}

.order-form__customer-name .order-form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 18px;

  border: 0;
  border-bottom: 2px solid @basic-black;

  min-height: 52px;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: 19px;

    min-height: 55px;
    margin-left: 25px;
    margin-bottom: 8px;
    padding-left: 20px;
  }
}

.order-form__customer-name .order-form__input:hover,
.order-form__customer-name .order-form__input:focus {
  border-color: @base-color;
}

.order-form__contacts .order-form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 18px;

  border: 0;
  border-bottom: 2px solid @basic-black;

  min-height: 52px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 19px;

    min-height: 55px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
}

.order-form__contacts .order-form__input:hover,
.order-form__contacts .order-form__input:focus {
  border-color: @base-color;
}

.order-form__customer-name {
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 32px;
    padding-bottom: 43px;
  }
}

.order-form__customer-name .order-form__label {
  padding-top: 13px;
  min-height: fit-content;
}

.order-form__contacts {
  margin-bottom: 0;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    padding-top: 47px;
    padding-bottom: 31px;
  }
}

.order-form__additional {
  margin-bottom: 0;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

.order-form__contacts .order-form__legend {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 4px;
  }
}

.order-form__additional .order-form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 18px;

  padding: 17px;
  border: 2px solid @basic-black;

  min-height: 142px;
  max-width: 100%;
  min-width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}

.order-form__additional .order-form__input:hover,
.order-form__additional .order-form__input:focus {
  border-color: @base-color;
}

.order-form__note {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: @basic-dark;

  margin: 0;
  padding: 13px 0;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;

    margin: 0;
    padding: 0;
  }
}

.order-form__submit-button {
  font-size: 17px;

  @media (min-width: @tablet-width) {
    min-width: 230px;
  }
}

.order-form__footer {
  padding-top: 4px;

  @media (min-width: @tablet-width) {
    padding-top: 23px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-top: 21px;
    padding-left: 225px;
    padding-right: 225px;
  }
}
