.page-main {
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    margin-top: -75px;
  }
}

.page-main__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  padding: 75px 30px;
  margin: 0 auto;
  width: 320px;

  @media (min-width: @tablet-width) {
    .tablet-title();
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    .desktop-title();
    width: @desktop-width;
  }
}
