.page-footer {
  background-color: #f1f1f1;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    padding-top: 33px;
    padding-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 105px;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  min-width: 320px;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 50px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */

    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    justify-self: end;
  }
}
