// Цвета
@basic-white: #ffffff;
@basic-light-gray: #f1f1f1;
@base-color: #63d1bb;
@base-color-dark: #56c3b2;

// Вьюпорты
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: @tablet-width - 1px;
